/*index.css*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html{
	scroll-behavior:smooth;
}


.pantalla{
	width:100%;
	height:100vh;
	color:white;
	text-align:center;
	font-size:2em;
	
}

#inicio{
	background-color:black;
	background-image:url(process.jpg);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:51%;
	
}

#diseñoweb{
	background-color:#6E2C00;
	background-image:url(process.jpg);
	background-position:right center;
	background-repeat:no-repeat;
	background-size:50%;
}

#fotografia{
	background-color:#A04000;
	background-image:url(process.jpg);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:51%;
}
#dibujo{
	background-color:#C0392B  ;
	background-image:url(process.jpg);
	background-position:right center;
	background-repeat:no-repeat;
	background-size:50%;
}

#pintura{
	background-color:#DC7633  ;
	background-image:url(process.jpg);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:51%;
}
#diseño{
	background-color:#515A5A;
	background-image:url(process.jpg);
	background-position:right center;
	background-repeat:no-repeat;
	background-size:50%;
}
#animación{
	background-color:#34495E;
	background-image:url(process.jpg);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:51%;
}	
#acerca{
	background-color:#154360;
	background-image:url(process.jpg);
	background-position:right center;
	background-repeat:no-repeat;
	background-size:50%;
}
#testcurso{
	background-color:#7D6608;
	background-image:url(process.jpg);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:51%;
	
}
#contacto{
	background-color:#F7DC6F;
	padding:0px;
	
}
#nav{
	text-align:center;
	margin:0px auto;
	

}
#nav ul{
	list-style-type:none;
	position:fixed;
	margin:0px auto;
	width:100%;
	
}
#nav li{
	display:inline-block;
	
}

li a{
	padding:30px;
	font-family:arial;
	text-decoration:none;
	font-weight:bold;
	color:white;
	display:inline-block;
	
}
#header{
	padding-top:0;
}

a:hover{
	color:white;
	list-style-type: none;
}
a:active{
	color:white;
	list-style-type: none;
}

p{
	text-align: center;
	font-family:arial;
}
a{
	color:white;

}

.izquierda{
	float: left;
	width: 50%;
	height: 100%;
	
}

.derecha{
	float: right;
	width: 50%;
	height: 100%;
}

h1{
	padding-top: 40vh;

}

#informacion{
	background-color: darkslategray;
}

#final{
	background-color: black;
}
h5{
	display:inline-block;
	padding-top:40vh

}
h3{
	text-decoration:none;
}

